@font-face {
  font-family: "iconfont"; /* Project id 2896139 */
  src: url('//at.alicdn.com/t/font_2896139_365gbwnyjoa.woff2?t=1636363537057') format('woff2'),
       url('//at.alicdn.com/t/font_2896139_365gbwnyjoa.woff?t=1636363537057') format('woff'),
       url('//at.alicdn.com/t/font_2896139_365gbwnyjoa.ttf?t=1636363537057') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont10:before {
  content: "\e60a";
}

.icon-sign_out:before {
  content: "\e99d";
}

.icon-icon-test:before {
  content: "\e642";
}

.icon-Personal:before {
  content: "\e62a";
}

.icon-home:before {
  content: "\e7a7";
}
